body {
  background-color: #677dcb;
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
}
.area-login {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}
.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #181920;
  border-radius: 10px;
  width: 420px;
  height: 400px;
  padding: 30px;
}

.login form {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.login input {
  margin-top: 10px;
  background-color: #252a34;
  color: #cdbdf7;
  height: 45px;
  border-radius: 5px;
  padding-left: 10px;
  border: none;
  outline: none;
}

.login img {
  width: 75px;
  height: auto;
  margin-bottom: 10px;
}

.input ::placeholder {
  color: #cbd0f7;
  font-size: 15px;
}
form [type='submit'] {
  display: block;
  background-color: #5568fe;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  margin-top: 15px;
  margin-bottom: 10px;
}

p {
  color: #cdbdf7;
  margin-top: 5px;
}

a {
  color: #5568fe;
  text-decoration: none;
  margin-left: 5px;
}
input{
  font-size: 20px;
}

/*icon*/
#icon{
 position: relative;
top: 50%;
left: 90%;
transform: translate(-50%,-520%);
background: url("../../assets/images/aberto.png");
background-size:cover;
width: 30px;
height: 30px;
cursor: pointer;
}
#icon.fechado{
  background: url("../../assets/images/fechado.png");
  background-size:cover;

}
/*fim icon*/

.container,
.lembrar,
.link {
  display: inline-block;
  vertical-align: middle;
  margin-top: 10px;
}

.lembrar {
  color: #cbd0f7;
  margin-left: 5px;
  margin-right: 65px;
}

.lembrar,
.link {
margin-top: 2px;
}

/* checkbox */
.container {
  cursor: pointer;
}

.container input {
  display: none;
}

.container svg {
  overflow: visible;
}

.path {
  fill: none;
  stroke: white;
  stroke-width: 3;
  stroke-linecap: round;
  stroke-linejoin: round;
  transition: stroke-dasharray 0.5s ease, stroke-dashoffset 0.5s ease;
  stroke-dasharray: 241 9999999;
  stroke-dashoffset: 0;
}

.container input:checked ~ svg .path {
  stroke-dasharray: 70.5096664428711 9999999;
  stroke-dashoffset: -262.2723388671875;
}

/*fim do chekbox*/


/*Reponsividade*/
@media screen and (max-width: 480px) {
  body{
    width: 100%;
    height:110vh;
    margin-top: -10px;
    
  }
  .login {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #181920;
    border-radius: 10px;
    width: 96%;
    height: 420px;
    padding: 30px;
  }
  
  .container,
.lembrar,
.link {
  display: inline-block;
  vertical-align: middle;
  margin-top: 10px;
}

.lembrar {
  color: #cbd0f7;
  
}

.lembrar,
.link {
margin-top: 2px;
}

#icon{
  position: relative;
 top: 50%;
 left: 90%;
 transform: translate(-50%,-640%);
}
p{
  margin-bottom: 25px;
}
}
